<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title style="text-align:center;">Welcome Movie Fans!</ion-card-title>
        <ion-card-subtitle style="text-align:center;">This is a simple demo movie app.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align:right;font-size:10px;">Movie App / HSLU</ion-title>
  </ion-toolbar>
</ion-footer>
